@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Lead Engineer | FINTECH | Microsoft Technologies | ASPNETCORE | API | Microservices | C# | BG Service Expert | SQL Server | PostgreSQL | Docker | Cloud | Kafka" />
    <meta name="keywords" content="Lead Engineer | FINTECH | Microsoft Technologies | ASPNETCORE | API | Microservices | C# | BG Service Expert | SQL Server | PostgreSQL | Docker | Cloud | Kafka" />
    <meta name="author" content="Orbit Rover" />
    <meta name="copyright" content="Orbit Rover" />
    <link rel="copyright" href="./Legal/copyright/" />
    <meta name="msvalidate.01" content="B55927F57B9D600CE6A5CED750DE1683" />
    <title>Orbit Rover Portfolio</title>
    <link href="~/Main/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Main/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"
          type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'
          rel='stylesheet' type='text/css'>
    <!--<link href="/Main/img/module/style5152.css" rel="stylesheet" type="text/css" />-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="~/Main/css/agency.min.css" rel="stylesheet" />
    
    <style type="text/css">
        .txt-hidden {
            height: 125px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .hide {
            display: none;
        }

        .list-inline > li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
        }

        ul.social-buttons li a {
            font-size: 20px;
            line-height: 40px !important;
            width: 40px !important;
            height: 40px !important;
        }
    </style>


</head>
<body id="page-top" class="index">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Orbit Rover</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Technology</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#team">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/Web/" title="Go To Website">Web</a>
                    </li>
                    <li class="nav-item" style="position: absolute;right: 0;top: 0;background-color: black;">
                        <a class="nav-link js-scroll-trigger" href="#hireme" title="I am Available For Hire">Hire Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To My Studio!</div>
                <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Technology</h2>
                    <h3 class="section-subheading text-muted">Know more about technologies which I work on.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Asp.Net</h4>
                    <p class="text-muted txt-hidden">
                        ASP.NET is an open-source server-side web application framework designed for web development to produce dynamic web pages. It was developed by Microsoft to allow programmers to build dynamic web sites, web applications and web services.
                        <a href="#" class="more">more</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">MVC.NET</h4>
                    <p class="text-muted txt-hidden">
                        The ASP.NET MVC is a web application framework developed by Microsoft, which implements the model–view–controller pattern. It is open-source software, apart from the ASP.NET Web Forms component which is proprietary.
                        <a href="#" class="more">more</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">C#</h4>
                    <p class="text-muted txt-hidden">
                        C# is a programming language from Microsoft that's at the core of the .net framework. Although a cross-platform capable code, C# is most often used by programmers within the Microsoft ecosystem.
                        <a href="#" class="more">more</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">WCF</h4>
                    <p class="text-muted txt-hidden">
                        Windows Communication Foundation (WCF) is a framework for building service-oriented applications. Using WCF, you can send data as asynchronous messages from one service endpoint to another. A service endpoint can be part of a continuously available service hosted by IIS, or it can be a service hosted in an application.
                        <a href="#" class="more">more</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">WEB API</h4>
                    <p class="text-muted txt-hidden">
                        ASP.NET Web API is a framework that makes it easy to build HTTP services that reach a broad range of clients, including browsers and mobile devices. ASP.NET Web API is an ideal platform for building RESTful applications on the .NET Framework.
                        <a href="#" class="more">more</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-angellist fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">ANGULAR JS</h4>
                    <p class="text-muted txt-hidden">
                        AngularJS is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications.
                        <a href="#" class="more">more</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dot-circle-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">NODE JS</h4>
                    <p class="text-muted txt-hidden">
                        Node.js is a platform built on Chrome's JavaScript runtime for easily building fast and scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices.
                        <a href="#" class="more">more</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">HTML/CSS</h4>
                    <p class="text-muted txt-hidden">
                        I have Equal command on html and css as like a UI/Web Designer. I have assambled my web applications designe equivalente to back end code.
                        <a href="#" class="more">more</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-jsfiddle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">JQUERY/JAVASCRIPT</h4>
                    <p class="text-muted txt-hidden">
                        I naver dependent for J-Query / Javascript code from other source and developers mostly I manage my code in jquery / Javascript myself.

                        <a href="#" class="more">more</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Works Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">PORTFOLIO</h2>
                    <h3 class="section-subheading text-muted">My Latest Work.<a href="/Product/">See More</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/Main/img/portfolio/roundicons.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>E-Commerce Project</h4>
                        <p class="text-muted">Online Product Selling</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/Main/img/home289.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>School Management Project</h4>
                        <p class="text-muted">Web Based Software</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/Main/img/portfolio/treehouse.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Greenveg.in</h4>
                        <p class="text-muted">Online Grossory Selling</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/Main/img/portfolio/golden.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Free Classified</h4>
                        <p class="text-muted">Jodimilade.com</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/Main/img/portfolio/escape.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Inventory Project</h4>
                        <p class="text-muted">Product Management</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="/Main/img/portfolio/startup-framework.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Websites</h4>
                        <p class="text-muted">Only Website Design</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">A Brief Description About My Career.<a href="/Web/About">Know More</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <h4>
                                    <br />
                                    Begining
                                </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2013</h4>
                                    <h4 class="subheading">My Beginning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Finished Graduation and Started career as a web developer</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    <br />
                                    One Year
                                </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2014</h4>
                                    <h4 class="subheading">Starting as .Net Developer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">End of struggling with code understanding, and I decided to go with Asp.Net Technologies</p>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="timeline-image">
                                <h4>
                                    <br />
                                    Two Years
                                </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2015</h4>
                                    <h4 class="subheading">Career on the Way</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After successfully Completing 2 years, I have owned Identity as Software Developer.</p>
                                    <p>Having Perfection with Asp.Net 2.0,3.5 and 4.0 Technologies</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    <br />
                                    Three Years
                                </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2016</h4>
                                    <h4 class="subheading">Phase One Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In these 3 years Successfully created 150+ Web and Desktop Applications, with a satisfactory support.</p>
                                    <p>Now I have good command on .Net4.5, MVC.Net, Web API, Javascript, TypeScript, Jquery, Angular, WPF And Google Technologies</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>
                                    <br />
                                    4 Years
                                </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2017</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After Completing 4 years in IT Industry, I am able to lead a team and have opportunity to work as team leader</p>
                                    <p>Its time to Improve tough Algorithms being used in MLM, Supply Chain, E-Commerce, and Arificial Inteligence </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    <br />
                                    5 Years
                                </h4>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 2018</h4>
                                    <h4 class="subheading">Phase Three Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">5 year are enough for being a good Developer, and I have prove myself in all chalenges</p>
                                    <p>I am not using Excelent and Perfect word for me, Because In IT Industry no body can be perfect. and my excellency could be seen by others </p>
                                </div>
                            </div>
                            </liclass="timeline-inverted">
                        <li>
                            <a href="/Web/About" title="Know More About Orbit Rover" data-toggle="tooltip">
                                <div class="timeline-image">
                                    <h4>
                                        Be Part
                                        <br>Of My
                                        <br>Story!
                                    </h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Products</h2>
                    <h3 class="section-subheading text-muted">15+ Awesome Application, Best in Category.<a href="/Product/">View More</a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="/Main/img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Kay Garland</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="/Main/img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="/Main/img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="/Main/img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="/Main/img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="/Main/img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="/Main/img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
    <!-- Contact Section -->

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">You can contact us for any query about My product and services</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section id="hireme" style="background-color: #222;
    background-image: url(/Main/img/picjumbo.com_HNCK7775-e1438928688337.jpg);
    background-position: center;
    background-repeat: no-repeat;">
        <div class="container" style="padding-top :20px !important;
                     padding-right:20px !important;
                     padding-bottom:20px !important;
                     padding-left:20px !important;
                     background-color:rgba(10,10,10,0.25) !important;
                     *background-color:rgb(10,10,10) !important;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="row text-center">
                        <div class="col-md-12 text-center">
                            <div style="color:#ffffff;background:#e5ae47;font-size:42px;display:inline-block;text-align:center;padding:6px 15px;margin-bottom:20px;">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-12" data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:70px;tablet:50px;tablet_portrait:50px;mobile_landscape:40px;mobile:40px;&quot;,&quot;line-height&quot;:&quot;&quot;}"><h2 style="font-family:'Lato';font-weight:bold;color:#ffffff;">LETS WORK TOGETHER</h2></div>
                        <div class="col-md-12 text-center padding-15">
                            <div class="uvc-heading-spacer line_only" style="margin-top:20px;margin-bottom:30px;height:1px;background-color:#fff;"></div>
                            <h3 style="color:#fff;font-weight:100;">I am ready to be hired, Waiting for the best opportunity.</h3>
                            <p style="color:#fff;"><a href="/Profile">Read my full profile</a></p>
                            <p style="color:#fff;">
                                <a href="#" data-toggle="modal" data-target="#downloadCV">Download My CV</a>
                            </p>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="button" title="Leave Contact" data-toggle="modal" data-target="#hireModal" style="font-family:'Lato';font-weight:700;font-size:18px;border:none;background: #75d69c;color: #ffffff;padding: 15px 30px;"><span class="ubtn-hover" style="background: rgb(92, 214, 140);"></span><span class="ubtn-data ubtn-text">Hire Me</span></button>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                </div>
            </div>

        </div>
    </section>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Orbitrover.com @DateTime.Now.Year</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="https://twitter.com/orbitrover" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/orbitrover" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="http://in.linkedin.com/in/orbitrover" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/112369536828423664463" target="_blank"><i class="fa fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="http://www.pinterest.com/in/orbitrover" target="_blank"><i class="fa fa-pinterest"></i></a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a href="~/Legal/PrivacyPolicy">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="~/Legal/Terms">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Portfolio Modals -->
    <div class="modal fade" id="downloadCV" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">


                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Only Employers can see my CV</h4>
                            <p>Please verify you are an employer</p>
                            <p>You can <a href="/Profile">read my full profile</a> before proceeding</p>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-success" data-toggle="modal" data-target="#hireModal">Proceed</a>
                    <button data-dismiss="modal" class="btn btn-danger">Not Intersted</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="hireModal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Employer Details</h4>
                </div>
                @using (Html.BeginForm("HireMe", "Home", FormMethod.Post, new { @id = "hireForm", @name = "hireform" }))
                {
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Employer Name *" id="name" required data-validation-required-message="please enter employer name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Employer Email *" id="email" required data-validation-required-message="please enter employer email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Employer Phone *" id="phone" required data-validation-required-message="please enter employer phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="url" class="form-control" placeholder="Web Address *" id="web" required data-validation-required-message="please enter employer web address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Employer Location *" id="location" required data-validation-required-message="please enter employer location.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Employer Message *" id="message" required data-validation-required-message="please enter your message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Send Proposal" class="btn btn-success" />
                        <button data-dismiss="modal" class="btn btn-danger">Conact Another Day</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Use the modals below to showcase details about your portfolio projects! -->
    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-content bg-gray-trans">

            <div class="container bg-white">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>
                                E-Commerce Projects
                            </h2>
                            <p class="item-intro text-muted">
                                Now you have your Own online market powerd by OrbitRover.
                            </p>
                            <img class="img-responsive img-centered" src="/Main/img/portfolio/roundicons-free.png"
                                 alt="">
                            <p>
                                E-Commerce industry is one of the fastest growing industry in India.
                                You have lot of opportunities in this sector
                            </p>
                            <p>
                                <strong>
                                    Know more about our <a href="Products/Ecommerce/" title="E-Commerce Products" target="_blank">
                                        E-Commerce Products
                                    </a> and choose the best one for you.
                                </strong>
                            </p>
                            <p>
                                You can visit our live <a href="Products/Ecommerce/zovidovi/" title="E-Commerce Products">
                                    E-Commerce Project
                                </a>ZoviDovi.Com
                            </p>
                            <!--<ul class="list-inline">
                                <li>Date: July 2014</li>
                                <li>Client: Round Icons</li>
                                <li>Category: Graphic Design</li>
                            </ul>-->
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                <i class="fa fa-backward"></i>&nbsp;&nbsp;Go Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-content bg-gray-trans">

            <div class="container bg-white">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>
                                School Managemt
                            </h2>
                            <p class="item-intro text-muted">
                                Today's need, a best management to grow up your business.
                            </p>

                            <img class="img-responsive img-centered" src="/Main/img/Dashboard.jpg" alt="" />
                            <p>Dashboard for School Management.</p>
                            <img class="img-responsive img-centered" src="/Main/img/home.jpg"
                                 alt="">
                            <p>
                                School Webiste attached with School management Application.
                            </p>
                            <p>A School management application is helpfull for your school, college or university for managing your students, staff and revenue.</p>
                            <p>
                                My Dream University School management Application is one of the best School Management Systems.
                                That provide options as you need, it means you don't have need to pay more than your requirements.
                                My Dream University is not only a School Management Software, it's your school manager that will keep you up to date for every activity in school.
                                Nothing escape from your eyes.
                            </p>
                            <p>
                                <strong>
                                    Know more about our <a href="Products/Education/SchoolManagement/MyDreamUniversity/">
                                        School Management Application
                                    </a> for you need.
                                </strong>
                            </p>
                            <!--<ul class="list-inline">
                                <li>Date: July 2014</li>
                                <li>Client: Round Icons</li>
                                <li>Category: Graphic Design</li>
                            </ul>-->
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                <i class="fa fa-backward"></i>&nbsp;&nbsp;Go Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-content bg-gray-trans">

            <div class="container bg-white">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>
                                GreenVeg
                            </h2>
                            <p class="item-intro text-muted">
                                GreenVeg means your veg market on your door.
                            </p>
                            <img class="img-responsive img-centered" src="/Main/img/portfolio/mail1.jpg"
                                 alt="">
                            <p>

                            </p>
                            <p>
                                Know more about our Grocery Products click<a href="Products/Grocery/" title="Grocery Products"> here</a>.
                            </p>
                            <p>You can also visit our live Grocery portal <a href="Products/Grocery/greenveg/" title="GreeVeg.in" target="_blank">greenveg.in</a></p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                <i class="fa fa-backward"></i>&nbsp;&nbsp;Go Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-content bg-gray-trans">

            <div class="container bg-white">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>
                                Free Classified Projects
                            </h2>
                            <p class="item-intro text-muted">
                                Match anything, Find Anything, Sale Anything or buy anything.
                            </p>
                            <img class="img-responsive img-centered" src="/Main/img/portfolio/golden-preview.png" alt="">
                            <p>
                                free classified is a platform that we need in our busy life.
                                if you have any idea to fulfill people's need by connecting each other, then don't wait. Contact us,
                                we will try our level best for approaching your idea in real.
                            </p>
                            <p>
                                Know more about our  <a href="Products/FreeClassified/">
                                    Free Classified Products
                                </a>.
                            </p>
                            <p>You can also visit our live free classifed portal <a href="Products/FreeClassified/jodimilade/" title="JodiMilaDe.Com" target="_blank">Jodimilade.com</a></p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                <i class="fa fa-backward"></i>&nbsp;&nbsp;Go Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-content bg-gray-trans">

            <div class="container bg-white">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>
                                Inventory Projects
                            </h2>
                            <p class="item-intro text-muted">
                                Well managed Business is a Healthy Business.
                            </p>
                            <img class="img-responsive img-centered" src="/Main/img/portfolio/escape-preview.png" alt="">
                            <p>
                                Uff.... where is the Client's Delivery file that I made in the last month
                                , Ohh how can i manage this business. Every where paper files Drawer and Excel files in PC but i don't remember where to find my required DATA.

                            </p>
                            <p>Hahahaah.!, this is a common situation in your Startup, Don't worry give us a chance to help you</p>
                            <p>
                                We have specialization in Inventory Management, Try our Inventory Application
                                <a href="Products/Free/" title="Free Products" target="_blank">
                                    (One year free for new Startups)
                                </a>
                            </p>
                            <p>Also we customize an Inventory Application as per your needs for your Business</p>
                            <p>don't be Confused, we will make you happy</p>
                            <p>
                                Know more about our <a href="Products/Inventory/">
                                    Inventory Products
                                </a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                <i class="fa fa-backward"></i>&nbsp;&nbsp;Go Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-content bg-gray-trans">

            <div class="container bg-white">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>
                                Web Designe
                            </h2>
                            <p class="item-intro text-muted">
                                you need a perfect website for growing your business.
                            </p>
                            <img class="img-responsive img-centered" src="/Main/img/portfolio/responsive_webdesign_sample.png" alt="">
                            <h4>You can get a free website for one year with free Domain(URL) and free hosting. Click <a href="Products/Free/" title="Free Website for One Year">Here</a> for more detail</h4>
                            <ul class="txt-left">
                                <li>
                                    A perfect web template is a need of a growing business. Because a perfect web tamplate include all your needs like
                                </li>
                                <li>
                                    Responsive(It can adjust accordingly with screen types like mobile tablet, fablet, laptops, and large screen pc moniters)
                                </li>
                                <li>
                                    SEO friendly(if you website is not SEO friendly, it means no body can know about your business. Coz Seo is must need for a new growing website that need to be searched top in the searching engines result.)
                                </li>
                                <li>
                                    Updated(An updated website has bug free and latest content that you want to show your visitors).
                                </li>
                                <li>
                                    Security(Hackers keep trying to hack your website to steal your user data or some other purposes. that's why a secured website is must to run your business properly).
                                </li>
                                <li>Orbit Rover have a beautiful template collection, that is designed with the Bootstrap framework and Jquery effects with HTML5 and CSS3.</li>
                                <li>
                                    know about our Website Design and Tamplates, go <a href="Products/WebProjects/">
                                        Web Products
                                    </a>.
                                </li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                <i class="fa fa-backward"></i>&nbsp;&nbsp;Go Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jQuery -->
    @*@Scripts.Render("~/bundles/frontjs")*@
    <!-- Bootstrap core JavaScript -->

    <script src="~/Main/js/jquery.min.js"></script>
    <script src="~/Main/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Main/js/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="~/Main/js/jqBootstrapValidation.js"></script>
    <script src="~/Main/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    @* <script src="https://blackrockdigital.github.io/startbootstrap-agency/js/agency.min.js"></script>
    <script>
           (function (i, s, o, g, r, a, m) {
               i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                   (i[r].q = i[r].q || []).push(arguments)
               }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
           })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

           ga('create', 'UA-79450765-1', 'auto');
           ga('send', 'pageview');

    </script> *@

</body>
</html>

