@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/l/font?kit=MTP_ySUJH_bn48VBG8sNSlZfGctI74vftaHofrD3qaCaXDdvfqwKVVxni6ZRK9z1&skey=a162967ffaa5aa08) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(https://fonts.gstatic.com/l/font?kit=EInbV5DfGHOiMmvb1Xr-hlZfGctI74vftaHofrD3qaCaXDdvfqwKVVxni6ZRK9z1&skey=c27b416055908855) format('woff2');
}
